@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>Index</h3>
@{
    var fnViewportClick = Url.Action("Viewport", "Fn", new { id = Custom.Models.Ext.ViewportHandlers.Click });
    var fnViewportMouseMove = Url.Action("Viewport", "Fn", new { id = Custom.Models.Ext.ViewportHandlers.MouseMove });
    var fnViewportMouseDown = Url.Action("Viewport", "Fn", new { id = Custom.Models.Ext.ViewportHandlers.MouseDown });
    var fnViewportMouseUp = Url.Action("Viewport", "Fn", new { id = Custom.Models.Ext.ViewportHandlers.MouseUp });
    var redirectTo = Url.Action("Redirect", "Test", new { returnTO = "https://www.easeaccess.com/thisisgood?aparam=1&antoherParam=2" });
    var redirectTo2 = "/Test/Redirect?returnTO=https://www.easeaccess.com/thisisgood?aparam=1&antoherParam=2";
    var mapPath = Url.Action("MapPath", "Test", new { path = "~Test/MapPath" });
    var logger = Url.Action("Logger", "Test", new { category = "Info", message = "test" });
    var modl = Url.Action("Model", "Metadata", new { area = "App" });
    var entity = Url.Action("Entity", "Metadata", new { area = "App" });
    var enu = Url.Action("Enum", "Metadata", new { area = "App" });
}
<ol class="round">
    <li class="one">
        <h5>Diagnostics</h5>
        Using Log4Net and Loggly loggers.
        <ul>
            <li><a href="@logger">@logger</a></li>
        </ul>
    </li>

    <li class="two">
        <h5>Scripting</h5>
        Javascript Generation and composition
        <ul>
            <li><a href="@fnViewportClick">@fnViewportClick</a></li>
            <li><a href="@fnViewportMouseMove">@fnViewportMouseMove</a></li>
            <li><a href="@fnViewportMouseDown">@fnViewportMouseDown</a></li>
            <li><a href="@fnViewportMouseUp">@fnViewportMouseUp</a></li>
        </ul>
    </li>

    <li class="three">
        <h5>Metadata</h5>
        Metadata editing (Entities, Enums, etc)
        <ul>
            <li><a href="@fnViewportClick">@fnViewportClick</a></li>
            <li><a href="@entity">@entity</a></li>
            <li><a href="@enu">@enu</a></li>
            <li><a href="@modl">@modl</a></li>
        </ul>
    </li>

    <li class="four">
        <h5>Utilities</h5>
        Redirection, MapPath, etc.
        <ul>
            <li><a href="@redirectTo">@redirectTo</a></li>
            <li><a href="@redirectTo2">@redirectTo2</a></li>
            <li><a href="@mapPath">@mapPath</a></li>
        </ul>
    </li>
</ol>


